# Python byte code files
*.py[co]
__pycache__/

# editors and IDE's
*.wpu

# testing artifacts
/.pytest_cache/
/.tox/
/tests/reports/

# packaging artifacts
/build/
/dist/
/out/
/PythonTurtle/
/*.egg-info
/*.spec
