name: Build Windows exe

on:
  push:
    tags:
    - "*"

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - run: python -m pip install pyinstaller wxPython
    - run: python setup.py clean bundle
    - uses: actions/upload-artifact@v2
      with:
        name: PythonTurtle for Windows
        path: D:\a\PythonTurtle\PythonTurtle\dist\PythonTurtle.exe
