name: Tests

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8, 3.9.0-rc.2]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies for Ubuntu
      run: sudo apt-get install libsdl2-2.0-0
      if: matrix.os == 'ubuntu-latest'
    - name: Install prerequisites
      run: python -m pip install --upgrade setuptools pip wheel tox-gh-actions
    - name: Special Pillow install for Python 3.9
      if: matrix.python == 3.9.0-rc.2
      run: python -m pip install Pillow
    - name: Run tests
      run: tox
